*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.zst
*.sig
*.erofs.xz
pkg
src
log
FEX-Emu/FEX
virglrenderer/virglrenderer-asahi
widevine/chrome-eula_text.html
widevine/lacros-*.squashfs
widevine/*.crx3
linux-asahi/config.old
